fastapi
uvicorn
python-dotenv
supabase
ollama
pydantic


# LangChain dependencies
langchain
langchain-community
langchain-core



# For RAG
chromadb # Keep for local backup if needed
tiktoken
pypdf
langchain-ollama

# Optional but recommended
redis  # For production memory management
langgraph